.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1240px;
}

header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 72px;
  margin-bottom: 50px;
}

.logo {
  color: rgb(41, 70, 99);
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  transition: transform 0.3s ease;
}

.nav-links li {
  text-decoration: none;
  padding: 8px 16px;
}

.navbar-link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: brown;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #ff6347;
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.menu-icon .bar {
  width: 30px;
  height: 3px;
  background-color: brown;
  border-radius: 5px;
}

.nav-links.active {
  display: block;
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
  padding: 20px;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.nav-links.active li {
  padding: 15px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 72px;
    right: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu-icon {
    display: flex;
  }
  
  .nav-links.active {
    display: flex;
    opacity: 1;
  }

  .navbar-link {
    font-size: 16px;
  }

  .logo {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .navbar-link {
    font-size: 14px;
  }

  .logo {
    font-size: 20px;
  }

  .menu-icon .bar {
    width: 25px;
  }
}
